.vs/
x64/
out/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/**/*CMake*/**/*.sln
/**/*CMake*/**/*.vcxproj*